<div class="container-fluid abf-container">
  <div class="row full-height ">
    <div class="col-12 full-height center">
      <!-- <div id="tile"></div> -->
      <div id="msg" (click)="initRecording()">Hey there! coming soon.</div>
      <!-- <img id="cloud1" src="assets/cloud_1.png" alt="">
      <img id="cloud2" src="assets/cloud_3.gif" alt=""> -->

    </div>
  </div>
  <div id="aa">
    <div id="a1"></div>
    <div id="a2"></div>
    <div id="a3"></div>
    <div id="a4"></div>
  </div>
</div>
